DB_NAME=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=comartek-elearning

COOKIE_KEY=comartek@123

APP_ID=FACEBOOK_APP_ID
APP_SECRET=FACEBOOK_APP_SECRET

BASE_URL=https://07d3-185-200-117-204.ngrok.io

JWT_SECRET=comartek@123
JWT_EXPIRATION_TIME=86000

MAIL_SERVER_HOST=in-v3.mailjet.com
MAIL_SERVER_PORT=465
MAIL_SERVER_USERNAME=USERNAME
MAIL_SERVER_PASSWORD=PASSWORD